
GXPEngine/.vs/

GXPEngine/bin/

GXPEngine/obj/

VS_Project/GXPEngine/obj/

VS_Project/GXPEngine/bin/

VS_Project/.vs/

VS_Project/GXPEngine/.vs/

VS_Project/GXPEngineTests/obj/

VS_Project/GXPEngineTests/bin/
